include:
  - booklore/compose.yml

services:
  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    user: 1000:1000
    environment:
      - ND_LASTFM_APIKEY
      - ND_LASTFM_SECRET
    ports:
      - 4533:4533
    restart: unless-stopped
    volumes:
      - ${CONFIG_DIR}/navidrome/:/data
      - /run/media/squares/Hard Disk/Music:/music/
      - /data/media/musics:/music/media
      - /data/torrents/Music:/music/torrents

  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    environment: [PUID, PGID, TZ]
    ports:
      - 8096:8096
    volumes:
      - ${CONFIG_DIR}/jellyfin:/config
      - ${CONFIG_DIR}/jellyfin/cache:/cache
      - ${DATA_DIR}:/data
      - $HOME/Videos:/media:ro
    restart: "unless-stopped"

  mealie:
    image: ghcr.io/mealie-recipes/mealie:latest
    container_name: mealie
    environment: [PUID, PGID, TZ]
    ports:
      - "9925:9000"
    volumes:
      - ${CONFIG_DIR}/mealie:/app/data/
    restart: "unless-stopped"

  pinchflat:
    image: ghcr.io/kieraneglin/pinchflat:latest
    container_name: pinchflat
    environment: [PUID, PGID, TZ]
    ports:
      - "8945:8945"
    volumes:
      - ${CONFIG_DIR}/pinchflat:/config
      - ${DATA_DIR}/media/youtube:/downloads
    restart: "unless-stopped"

  syncthing:
    image: syncthing/syncthing
    container_name: syncthing
    environment: [PUID, PGID, TZ]
    ports:
      - "8384:8384"
      - "22000:22000"
    volumes:
      - ${CONFIG_DIR}/syncthing:/var/syncthing
      - ${DATA_DIR}/:/data
    restart: unless-stopped
