@import "matugen_generated_colors.css";

* {
  font-family: "MesloLGM Nerd Font Propo";
  font-size: 1rem;
  min-height: 0;
  min-width: 0;
}

window#waybar {
  border-radius: 8px;
  border: 2px solid @outline;
  background-color: @surface;
  color: @on_surface;
}

#workspaces {
  margin: 3px;
}

#workspaces button {
  color: @primary;
  margin-left: 4px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

#workspaces button {
  margin-left: 4px;
  background: transparent;
  border: none;
}

#workspaces button.active {
  color: @on_primary_container;
  background: transparent;
}

#workspaces button:hover {
  background: @primary_container;
  border: none;
}

#custom-player {
  margin-left: 16px;
  color: @secondary;
}

#bluetooth {
  margin-right: 8px;
  color: @on_surface;
}

#submap {
  margin-right: 13px;
  color: @tertiary;
}

#network {
  margin-right: 13px;
  color: @secondary;
}

#custom-updates {
  margin-right: 32px;
  color: @primary;
}

#pulseaudio {
  margin-right: 12px;
  color: @on_surface;
}

#backlight {
  margin-right: 12px;
  color: @on_surface_variant;
}

#battery {
  margin-right: 24px;
  color: @on_surface;
  background: transparent;
}

#battery.critical:not(.charging) {
  color: @error;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: @error_container;
  }
}

#clock {
  color: @on_surface;
  margin-right: 24px;
}

#custom-power {
  font-size: 20px;
  margin-right: 22px;
  color: @error;
  background: transparent;
}

#network,
#pulseaudio,
#backlight {
  color: @tertiary;
}

#network:hover,
#pulseaudio:hover,
#backlight:hover {
  color: @surface_tint;
}
