@import url("/home/squares/.config/wofi/matugen_generated.css");

#window {
  background-color: @surface;
  border: 1px solid @outline_variant;
  color: @on_surface;
}

#outer-box {
  background-color: transparent;
  padding: 18px;
}

#input {
  padding: 6px;
  margin-bottom: 8px;
  border-radius: 10px;
  background-color: @surface_container_high;
  font-size: 16px;
  border: 1px solid @outline;
  color: @on_surface_variant;
}

#input:focus {
  box-shadow: 0 0 0 2px @primary;
  border: 1px solid @primary;
}

#entry {
  color: @on_surface;
  padding: 8px;
  background-color: transparent;
}

#entry:selected {
  border-radius: 8px;
  outline: none;
  background-color: @primary_container;
}

#entry:selected label {
  color: @on_surface;
}

#entry image {
  margin-right: 8px;
}
