services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID
      - PGID
      - TZ
      - WEBUI_PORT=8080
      - TORRENTING_PORT=62751
    volumes:
      - ${CONFIG_DIR}/qbittorrent:/config/qBittorrent
      - ${DATA_DIR}:/data
    ports:
      - 8080:8080
      - 62751:62751
      - 62751:62751/udp
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment: [PUID, PGID, TZ]
    volumes:
      - ${CONFIG_DIR}/prowlarr:/config
    ports:
      - 9696:9696
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment: [PUID, PGID, TZ]
    volumes:
      - ${CONFIG_DIR}/sonarr:/config
      - ${DATA_DIR}:/data
    ports:
      - 8989:8989
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment: [PUID, PGID, TZ]
    volumes:
      - ${CONFIG_DIR}/radarr:/config
      - ${DATA_DIR}:/data
    ports:
      - 7878:7878
    restart: unless-stopped

  lidarr:
    image: blampe/lidarr:latest
    container_name: lidarr
    environment: [PUID, PGID, TZ]
    volumes:
      - ${CONFIG_DIR}/lidarr:/config
      - ${DATA_DIR}:/data
    ports:
      - 8686:8686
    restart: unless-stopped

  ephemera:
    image: ghcr.io/orwellianepilogue/ephemera:latest
    container_name: ephemera
    environment:
      - PUID
      - PGID
      - TZ
      - AA_BASE_URL
      - FLARESOLVERR_URL
      - LG_BASE_URL
    volumes:
      - ${CONFIG_DIR}/ephemera:/app/data
      - ${CONFIG_DIR}/ephemera/downloads:/app/downloads
      - ${DATA_DIR}:/data
    ports:
      - "8286:8286"
    restart: unless-stopped
