USER_ID=0
GROUP_ID=0
TZ=Asia/Kathmandu
BOOKLORE_PORT=6060

DATABASE_URL=jdbc:mariadb://mariadb:3306/booklore
DATABASE_USERNAME=booklore
DATABASE_PASSWORD=changeme_1

MYSQL_USER=booklore
MYSQL_PASSWORD=changeme_1

PUID=1000
PGID=1000
MYSQL_ROOT_PASSWORD=changeme_2
MYSQL_DATABASE=booklore
