include:
  - arr-stack/compose.yml
  - media-stack/compose.yml

services:
  caddy:
    image: ghcr.io/caddybuilds/caddy-cloudflare:latest
    container_name: caddy
    environment: [PUID, PGID, TZ, BASE_URL]
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - ${CONFIG_DIR}/Caddyfile:/etc/caddy/Caddyfile
      - ${CONFIG_DIR}/caddy/data:/data
      - ${CONFIG_DIR}/caddy/config:/config

  backup:
    image: offen/docker-volume-backup:latest
    container_name: backup-homelab
    environment: [PUID, PGID, TZ]
    restart: always
    env_file: ${CONFIG_DIR}/backup.env
    volumes:
      - .:/backup/homelab:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./archive:/archive
