BACKUP_FILENAME="backup-%Y-%m-%dT%H-%M-%S.{{ .Extension }}"
BACKUP_LATEST_SYMLINK="backup-latest.tar.gz"
BACKUP_SOURCES="/backup"
BACKUP_EXCLUDE_REGEXP="(^|/)(log|logs|MediaCover|cache|archive|attachments)/"
AWS_S3_BUCKET_NAME="homelab"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_ENDPOINT=""
BACKUP_RETENTION_DAYS='7'
